Repository googleapis/nodejs-dialogflow-cx, pull requests merged in 2022-05, with the labels that each got.

#263 docs(samples): Add detectIntent samples
  README.md
  samples/README.md
  samples/detect-intent-event.js
  samples/detect-intent-synthesize-tts-response.js
  samples/detect-intent-with-intent-input.js
  samples/detect-intent-with-sentiment-analysis.js
  samples/resources/output.wav
  samples/test/detect-intent-event-test.js
  samples/test/detect-intent-sentiment-analysis-test.js
  samples/test/detect-intent-synthesize-tts-response-test.js
  samples/test/detect-intent-with-intent-input-test.js
Labels: kokoro:run, samples, api: dialogflow, size: l

#264 docs(samples) - streamliine and clarify webhook samples
  README.md
  samples/README.md
  samples/configure-webhook-to-set-form-parameter-as-optional-or-required.js
  samples/test/configure-webhook-to-set-form-parameter-as-optional-or-required.js
  samples/webhook-configure-optional-or-required-form-parameters.js
  samples/webhook-configure-session-parameters-enable-agent-response.js
  samples/webhook-configure-session-parameters-trigger-transition.js
  samples/webhook-configure-session-parameters.js
  samples/webhook-validate-form-parameter.js
  samples/webhooks.js
Labels: samples, api: dialogflow, size: m

#271 docs(samples): replace agent ids
  .kokoro/setup-vars.sh
  samples/create-agent.js
  samples/test/create-agent.test.js
  samples/test/detect-intent-audio.test.js
  samples/test/detect-intent-event-test.js
  samples/test/detect-intent-sentiment-analysis-test.js
  samples/test/detect-intent-synthesize-tts-response-test.js
  samples/test/detect-intent-text.test.js
  samples/test/detect-intent-with-intent-input-test.js
  samples/test/list-intents.test.js
  samples/test/page-management.test.js
Labels: samples, api: dialogflow, size: m

#288 build!: update library to use Node 12
  .github/sync-repo-settings.yaml
  .github/workflows/ci.yaml
  .kokoro/continuous/node10/common.cfg
  .kokoro/continuous/node10/docs.cfg
  .kokoro/continuous/node10/test.cfg
  .kokoro/presubmit/node10/common.cfg
  package.json
  samples/package.json
Labels: api: dialogflow, size: m
